# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Local model artifacts
*.tar.gz
model/
